@model IEnumerable<ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Lista de Produtos</h1>
<hr />
<div>
    <span><a asp-action="Create" class="btn btn-default">Novo Produto</a></span>
</div>
<br />
<div id="erroProduto" class="alert alert-danger" hidden role="alert">Ocorreu um erro ao pesquisar produtos.</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">            
            <select id="selectCategorias" class="form-control" asp-items="ViewBag.Categorias"></select>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <input type="text" class="form-control" id="inputProduto" placeholder="Buscar produto" />
        </div>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" id="buttonProduto">Buscar</button>
    </div>
</div>
<table class="table" id="tableProdutos">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoUnitario)
                </th>
                <th>
                    Categoria
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descricao)
            </td>
            <td>
                <span class="pull-right">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Remover</a>
                </span>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script src="~/js/produto.js"></script>
}